*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
}

label[for=search] {
  display: none;
}

nav {
  display: flex;
  padding: 2rem;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.hamburger {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 3rem;
  align-items: center;
}
.main-nav a {
  font-weight: 500;
  text-transform: capitalize;
  color: hsl(0deg, 1%, 46%);
}

.decorated-btn {
  background: hsl(180deg, 66%, 49%);
  color: #fff !important;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  border: 0.1rem solid hsl(180deg, 66%, 49%);
}
.decorated-btn:focus-visible, .decorated-btn:focus {
  border: 0.1rem solid hsl(260deg, 8%, 14%);
  outline: none;
}

.navlinks {
  display: flex;
  gap: 2rem;
}

.auth {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 768px) {
  .hamburger[aria-expanded=false] + .main-nav {
    display: none;
  }
  .main-nav {
    position: absolute;
    width: auto;
    top: 6rem;
    left: 2rem;
    right: 2rem;
    padding: 2rem;
    flex-direction: column;
    background: hsl(257deg, 27%, 26%);
    border-radius: 0.5rem;
    margin-left: 0;
    -webkit-animation: fadeIn 0.5s ease-in-out;
            animation: fadeIn 0.5s ease-in-out;
  }
  .main-nav a {
    color: #fff;
  }
  .main-nav ul {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
    border-bottom: 1px solid hsl(0deg, 1%, 46%);
  }
  .main-nav {
    gap: 1rem;
  }
  .auth {
    flex-direction: column;
    width: 100%;
  }
  .auth .decorated-btn {
    width: 100%;
    text-align: center;
  }
  .hamburger {
    display: flex;
    cursor: pointer;
  }
}
.intro {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem 0;
}
.intro img {
  width: 50%;
  margin-right: -10rem;
}
.intro article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}
.intro article h1 {
  font-size: 5rem;
  color: hsl(255deg, 11%, 22%);
  font-weight: 700;
  line-height: 6rem;
}
.intro article p {
  color: hsl(0deg, 1%, 46%);
  width: 80%;
}
.intro article a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.convertor-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0deg, 0%, 92%);
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
  margin-top: 6rem;
}

.convertor {
  margin-top: -8rem;
  padding: 3rem;
  background: url("../images/bg-shorten-desktop.svg") no-repeat hsl(257deg, 27%, 26%);
  border-radius: 0.5rem;
  display: flex;
  gap: 2rem;
  width: 80vw;
  justify-content: space-between;
  position: relative;
}
.convertor input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 85%;
  position: relative;
}
.convertor button {
  width: 15%;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
}
.convertor .error {
  border: 0.2rem solid hsl(0deg, 87%, 67%);
}
.convertor .error::after {
  content: "Please add a link";
  text-transform: capitalize;
  color: hsl(0deg, 87%, 67%);
  position: absolute;
  top: 3rem;
  width: 10rem;
  height: 10rem;
}

.prev-url {
  display: flex;
  width: 80vw;
  background: #fff;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}
.prev-url p {
  color: hsl(255deg, 11%, 22%);
}

.short {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.short p {
  color: hsl(180deg, 66%, 49%);
}
.short button {
  border-radius: 0.3rem;
}

.stats-wrapper {
  background: hsl(0deg, 0%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 5rem;
  padding: 5rem 0;
}
.stats-wrapper article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.stats-wrapper article p {
  color: hsl(0deg, 1%, 20%);
  font-size: 1rem;
  max-width: 30rem;
  text-align: center;
}
.stats-wrapper article h2 {
  color: hsl(260deg, 8%, 14%);
  font-size: 2rem;
}
.stats-wrapper article h3 {
  color: hsl(255deg, 11%, 22%);
  font-size: 1.5rem;
}

.stats {
  display: flex;
  gap: 2rem;
  position: relative;
}

.stat {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  max-width: 20rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.stat .stat-img {
  width: 5rem;
  height: 5rem;
  background: hsl(257deg, 27%, 26%);
  padding: 1.3rem;
  border-radius: 50%;
  margin-top: -4rem;
  margin-bottom: 2rem;
}
.stat .stat-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.stat article {
  align-items: flex-start;
}
.stat article p {
  text-align: left;
}

.stats::before {
  position: absolute;
  content: "";
  width: 50vw;
  height: 0.5rem;
  background: hsl(180deg, 66%, 49%);
  top: 40%;
  left: 20%;
}

.stat:nth-child(2) {
  margin-top: 3rem;
}

.stat:nth-child(3) {
  margin-top: 6rem;
}

.boost {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: url("../images/bg-boost-desktop.svg") no-repeat hsl(257deg, 27%, 26%);
}
.boost h3 {
  color: white;
  font-size: 2.5rem;
}
.boost .decorated-btn {
  padding: 1rem 3rem;
  font-weight: 700;
}

@media screen and (max-width: 1000px) {
  .intro article h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .decorated-btn {
    padding: 0.5rem 1rem;
  }
  .convertor {
    padding: 1rem;
    gap: 1rem;
  }
  .convertor input {
    padding: 0.6rem;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column-reverse;
  }
  .intro img {
    width: 100%;
    margin-right: -4rem;
  }
  .intro article {
    padding: 1rem;
    width: 100%;
    justify-content: center;
  }
  .intro article h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .intro article p {
    width: 100%;
    text-align: center;
  }
  .intro article a {
    align-self: center;
  }
  .convertor {
    flex-direction: column;
  }
  .convertor input {
    width: 100%;
  }
  .convertor button {
    width: auto;
  }
  .prev-url {
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
  }
  .short {
    padding-top: 1rem;
    border-top: 0.1rem solid hsl(0deg, 0%, 92%);
    width: 100%;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
  }
  .short button {
    width: 90%;
    text-align: center;
  }
  .stats-wrapper {
    padding: 1rem;
  }
  .stats-wrapper article h2 {
    font-size: 1.7rem;
  }
  .stats {
    flex-direction: column;
  }
  .stats::before {
    transform: rotate(90deg);
    width: 40rem;
    left: -50%;
  }
  .stat:nth-child(2), .stat:nth-child(3) {
    margin-top: 2rem;
  }
  .boost h3 {
    font-size: 1.5rem;
  }
}
footer {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  align-items: flex-start;
  background: hsl(260deg, 8%, 14%);
}
footer img {
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(246deg) brightness(104%) contrast(101%);
}
footer ul {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1rem;
}
footer ul a {
  color: rgb(180, 180, 180);
}

.foot-links p {
  color: #fff;
  margin-bottom: 1rem;
}

.socials {
  display: flex;
  gap: 1rem;
}
.socials img {
  filter: none;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  footer ul {
    align-items: center;
    gap: 1rem;
  }
  .foot-links p {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */